SECRET_KEY=change-me-in-production-use-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=lotus.incercari.duckdns.org,localhost,127.0.0.1
AUTH_ENABLED=True

DB_NAME=postgres
DB_USER=postgres.your-project-ref
DB_PASS=your-db-password
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=5432
